@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap');

.timer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    z-index: 999;
}

.timer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #D5CEC2;
    padding: 50px;
    border-radius: 20px;
}

.timer h2 {
    color: #000;
    font-size: 50px;
    font-family: "Comic Neue", cursive;
    margin-bottom: 0;
}

.timer.hide {
    display: none;
}